
.element-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  &__item {
    padding: 25px 10px;
    background: rgb(194, 194, 194);
  }
}
.wrapper {
  width: 50%;
  padding: 5px;
  a {
    text-decoration: none;
    color: #666666;
  }
}